header, aside{

    li{
        line-height: 30px;
    }
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    &:hover{
        text-decoration: underline;
    }

}

.wrapper{
    height: calc(100vh - 110px);
    overflow: hidden;
}
aside{
    width: 230px;
    height: 100%;
    overflow: hidden;
}

.ms_content{
    overflow: auto;
    width: 100%;
}
